In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#국립공원 정보획득자(검색/블로그/뉴스기사등)의 DEMO 정보

df1 = pd.read_csv("./이정연 데이터 분석/data/국립공원/국립공원 관심인구 라이프스타일 (온라인쇼핑몰 이용 카테고리 정보).csv", encoding="cp949")
df1 = df1.drop(['frnt_ntds_prfn_cont', 'dgtl_hmpl_prfn_cont', 'lsur_car_prfn_cont', 'bty_prfn_cont', 'lilhd_kchn_prfn_cont', 'sprt_fshn_prfn_cont', 'grcs_helth_prfn_cont',
                'jrny_prfn_cont', 'fshn_wear_prfn_cont', 'auser_fshn_stff_prfn_cont', 'info_obtn_site_url'], axis=1)
df1 = df1.drop_duplicates(keep='first') #똑같은 행은 첫번째를 남기고 제거 -> 중복 제거
df1

,auser_lfst_id,info_obtn_dt,auser_sxdst_cd,age_group_cd,occpn_nm,hshld_incm_group_nm,mrrg_yn_nm,chdrn_yn_nm,rsid_fom_nm,auser_ara_ctprv_nm,auser_ara_gu_nm,auser_ara_dong_nm,car_group_nm,craln_tlphn_mkr_nm,craln_tlphn_sbscr_cmpn_nm,lfst_cd
0,C***,201903**,F,3,"사무직 (일반사무직, 공무원, 직업군인)",100~199만원,아니오,,연립주택/ 다세대/ 빌라,경기,수원시 권선구,권선동,NaN,기타,SKT,레저/자동차
1,C***,201903**,F,3,"주부 (전업주부, 파트타임 근무 주부)",200~299만원,예,자녀 없음,연립주택/ 다세대/ 빌라,서울,강서구,화곡본동,"경차 (모닝, 스파크 등)",삼성,LG U+,생활/주방
2,C***,201903**,F,2,"사무직 (일반사무직, 공무원, 직업군인)",400~499만원,아니오,,아파트/ 주상복합,부산,북구,화명1동,NaN,삼성,SKT,패션잡화
4,C***,201903**,F,4,"주부 (전업주부, 파트타임 근무 주부)",300~399만원,예,자녀 있음,연립주택/ 다세대/ 빌라,경기,용인시 수지구,죽전동,NaN,삼성,KT,식품/건강
7,C***,201903**,F,3,"사무직 (일반사무직, 공무원, 직업군인)",400~499만원,예,자녀 있음,오피스텔,경기,군포시,군포2동,NaN,LG,KT,식품/건강
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171027,C***,201911**,M,4,"사무직 (일반사무직, 공무원, 직업군인)",200~299만원,예,자녀 있음,아파트/ 주상복합,광주,북구,오치2동,"경차 (모닝, 스파크 등)",LG,LG U+,식품/건강
171173,C***,201911**,M,3,"사무직 (일반사무직, 공무원, 직업군인)",500~599만원,아니오,,단독주택,대전,서구,괴정동,"중형차 (쏘나타, K5, 말리부, 골프급 등)",삼성,SKT,디지털/가전
171930,C***,201911**,F,3,무직,200~299만원,아니오,,아파트/ 주상복합,경기,용인시 기흥구,영덕동,NaN,삼성,SKT,뷰티
172627,C***,201911**,M,4,"사무직 (일반사무직, 공무원, 직업군인)",200~299만원,예,자녀 있음,아파트/ 주상복합,부산,북구,금곡동,"중형차 (쏘나타, K5, 말리부, 골프급 등)",삼성,LG U+,식품/건강
172747,C***,201911**,F,3,"교직 (교사, 유치원교사, 학원강사)",300~399만원,예,자녀 있음,아파트/ 주상복합,경기,화성시,능동,"대형SUV (베라크루즈, 모하비, 투아렉급 등)",LG,LG U+,뷰티

In [3]:
df1 = df1.drop(['auser_ara_gu_nm', 'auser_ara_dong_nm', 'car_group_nm', 'craln_tlphn_mkr_nm', 'craln_tlphn_sbscr_cmpn_nm'], axis=1)
df1

,auser_lfst_id,info_obtn_dt,auser_sxdst_cd,age_group_cd,occpn_nm,hshld_incm_group_nm,mrrg_yn_nm,chdrn_yn_nm,rsid_fom_nm,auser_ara_ctprv_nm,lfst_cd
0,C***,201903**,F,3,"사무직 (일반사무직, 공무원, 직업군인)",100~199만원,아니오,,연립주택/ 다세대/ 빌라,경기,레저/자동차
1,C***,201903**,F,3,"주부 (전업주부, 파트타임 근무 주부)",200~299만원,예,자녀 없음,연립주택/ 다세대/ 빌라,서울,생활/주방
2,C***,201903**,F,2,"사무직 (일반사무직, 공무원, 직업군인)",400~499만원,아니오,,아파트/ 주상복합,부산,패션잡화
4,C***,201903**,F,4,"주부 (전업주부, 파트타임 근무 주부)",300~399만원,예,자녀 있음,연립주택/ 다세대/ 빌라,경기,식품/건강
7,C***,201903**,F,3,"사무직 (일반사무직, 공무원, 직업군인)",400~499만원,예,자녀 있음,오피스텔,경기,식품/건강
...,...,...,...,...,...,...,...,...,...,...,...
171027,C***,201911**,M,4,"사무직 (일반사무직, 공무원, 직업군인)",200~299만원,예,자녀 있음,아파트/ 주상복합,광주,식품/건강
171173,C***,201911**,M,3,"사무직 (일반사무직, 공무원, 직업군인)",500~599만원,아니오,,단독주택,대전,디지털/가전
171930,C***,201911**,F,3,무직,200~299만원,아니오,,아파트/ 주상복합,경기,뷰티
172627,C***,201911**,M,4,"사무직 (일반사무직, 공무원, 직업군인)",200~299만원,예,자녀 있음,아파트/ 주상복합,부산,식품/건강
172747,C***,201911**,F,3,"교직 (교사, 유치원교사, 학원강사)",300~399만원,예,자녀 있음,아파트/ 주상복합,경기,뷰티

In [4]:
#성별 분류
cond_gender = []
cond_gender.append(df1['auser_sxdst_cd'] == 'F')
cond_gender.append(df1['auser_sxdst_cd'] == 'M')
df1_f = df1[cond_gender[0]]
df1_m = df1[cond_gender[1]]

In [5]:
#나이 분류
cond_age = []
for i in range(2, 7):
    cond_age.append(df1['age_group_cd'] == i)

In [11]:
#성별 & 나이

#원형 그래프 세팅
#plt.rc('font', family = 'NanumBarunGothic')
#plt.rcParams['figure.figsize'] = (5, 5)
#fig = plt.figure(figsize = (5, 5))
#fig.set_facecolor('white')
#ax = fig.add_subplot()


for i in range(2):
    for j in range(5):
        if i == 0 :
            print("<여성>")
        else:
            print("<남성>")
        
        if j == 0:
            print("<20대>")
        elif j == 1:
            print("<30대>")
        elif j == 2:
            print("<40대>")
        elif j == 3:
            print("<50대>")
        else:
            print("<60대>")
        
        
        temp_list = []
        temp_df = df1[cond_gender[i] & cond_age[j]]
        temp_list = temp_df['lfst_cd'].value_counts()
        print(temp_list)
        
        #자체적인 서버에서 진행해 글자가 깨집니다.
        #temp_list.plot(kind = 'pie', autopct = lambda p : '{:.2f}%'.format(p))
        #plt.legend()
        #plt.show()
        
        print()

<여성>
<20대>
식품/건강      33
뷰티         26
패션의류       23
패션잡화       19
디지털/가전     18
생활/주방      15
여행          3
레저/자동차      2
스포츠패션       1
가구/인테리어     1
Name: lfst_cd, dtype: int64

<여성>
<30대>
식품/건강      235
생활/주방      144
패션의류       137
뷰티          93
패션잡화        69
디지털/가전      67
가구/인테리어     22
레저/자동차      20
여행          14
스포츠패션        4
Name: lfst_cd, dtype: int64

<여성>
<40대>
식품/건강      117
뷰티          53
패션의류        39
생활/주방       38
패션잡화        28
디지털/가전      23
가구/인테리어     12
레저/자동차       4
여행           4
스포츠패션        1
Name: lfst_cd, dtype: int64

<여성>
<50대>
생활/주방      17
식품/건강       8
뷰티          4
패션의류        3
스포츠패션       1
가구/인테리어     1
디지털/가전      1
패션잡화        1
Name: lfst_cd, dtype: int64

<여성>
<60대>
Series([], Name: lfst_cd, dtype: int64)

<남성>
<20대>
식품/건강      15
디지털/가전      9
생활/주방       8
레저/자동차      5
뷰티          5
패션잡화        4
스포츠패션       2
패션의류        2
여행          1
가구/인테리어     1
Name: lfst_cd, dtype: int64

<남성>
<30대>
식품/건강      31
디지털/가전     29
생활/주방      18
뷰티         16
패션의류       14
레저/자동차      9
패션잡화        9
여행          3
가구/인테리어     2
스포츠패션       1
Name: lfst_cd, dtype: int64

<남성>
<40대>
식품/건강      68
디지털/가전     53
생활/주방      32
패션잡화       22
패션의류       22
레저/자동차     20
뷰티         10
가구/인테리어     6
여행          6
스포츠패션       3
Name: lfst_cd, dtype: int64

<남성>
<50대>
디지털/가전     3
생활/주방      1
스포츠패션      1
가구/인테리어    1
뷰티         1
Name: lfst_cd, dtype: int64

<남성>
<60대>
Series([], Name: lfst_cd, dtype: int64)

In [7]:
#직업

occpn_list = list(df1['occpn_nm'].unique())
occpn_list

for occpn in occpn_list:
    temp_list = []
    temp_cond = df1['occpn_nm'] == occpn
    temp_df = df1[temp_cond]
    temp_list = temp_df['lfst_cd'].value_counts()
    
    print("<", occpn, ">")
    print(temp_list)
    
    #자체적인 서버에서 진행해 글자가 깨집니다.
    #temp_list.plot(kind = 'pie', autopct = lambda p : '{:.2f}%'.format(p))
    #plt.legend()
    #plt.show()
    
    print()

< 사무직 (일반사무직, 공무원, 직업군인) >
식품/건강      175
패션의류       106
디지털/가전      94
생활/주방       89
뷰티          79
패션잡화        58
레저/자동차      27
가구/인테리어     16
여행           8
스포츠패션        4
Name: lfst_cd, dtype: int64

< 주부 (전업주부, 파트타임 근무 주부) >
식품/건강      153
생활/주방       85
뷰티          51
패션의류        50
패션잡화        43
디지털/가전      35
가구/인테리어     18
여행           9
레저/자동차       8
스포츠패션        4
Name: lfst_cd, dtype: int64

< 전문직 (의사, 판검사, 예술가, 종교인) >
식품/건강     25
패션의류      17
뷰티        14
생활/주방     10
패션잡화      10
레저/자동차     6
디지털/가전     5
여행         3
Name: lfst_cd, dtype: int64

< 생산/노무직 (생산감독, 경비원, 공장근로자) >
식품/건강     6
생활/주방     5
디지털/가전    5
패션잡화      3
뷰티        3
레저/자동차    2
패션의류      2
여행        1
Name: lfst_cd, dtype: int64

< 학생 (초중고학생, 대학생, 대학원생) >
식품/건강      15
디지털/가전     10
뷰티         10
패션의류        8
생활/주방       8
패션잡화        6
레저/자동차      5
여행          3
스포츠패션       2
가구/인테리어     1
Name: lfst_cd, dtype: int64

< 교직 (교사, 유치원교사, 학원강사) >
식품/건강      42
생활/주방      29
패션의류       20
디지털/가전     16
뷰티         11
패션잡화        8
레저/자동차      4
가구/인테리어     2
여행          1
스포츠패션       1
Name: lfst_cd, dtype: int64

< 기타  >
식품/건강     23
디지털/가전    10
생활/주방      7
뷰티         4
패션잡화       3
패션의류       2
레저/자동차     1
Name: lfst_cd, dtype: int64

< 판매직 (상점점원, 보험설계사, 노점상) >
생활/주방      10
식품/건강       6
패션잡화        3
뷰티          3
가구/인테리어     1
패션의류        1
Name: lfst_cd, dtype: int64

< 관리직 (사장, 간부, 고위공무원) >
식품/건강      6
디지털/가전     5
패션잡화       3
뷰티         3
생활/주방      2
가구/인테리어    2
여행         1
레저/자동차     1
Name: lfst_cd, dtype: int64

< 서비스직 (요식업, 숙박업, 미용실종업원) >
식품/건강     19
패션의류      11
생활/주방      8
뷰티         7
디지털/가전     6
패션잡화       3
여행         2
레저/자동차     2
Name: lfst_cd, dtype: int64

< 무직 >
식품/건강      18
뷰티         16
생활/주방      10
패션잡화        6
디지털/가전      4
여행          3
패션의류        3
가구/인테리어     2
레저/자동차      1
Name: lfst_cd, dtype: int64

< 자영업 (도소매업, 숙박업, 미용업) >
패션의류       15
식품/건강      11
디지털/가전      9
생활/주방       8
패션잡화        5
레저/자동차      3
뷰티          3
가구/인테리어     3
스포츠패션       2
Name: lfst_cd, dtype: int64

< nan >
Series([], Name: lfst_cd, dtype: int64)

< 퇴직/연금생활자 >
뷰티    2
Name: lfst_cd, dtype: int64

< 기능직 (자동차정비, 운전기사, 안경사, 택시기사) >
식품/건강     6
디지털/가전    4
패션의류      4
뷰티        2
생활/주방     1
스포츠패션     1
Name: lfst_cd, dtype: int64

In [9]:
#성별 & 나이 & 직업
# 지나치게 세분화됐습니다.


for occpn in occpn_list:
    for i in range(2):
        for j in range(5):
            temp_list = []
            temp_cond = df1['occpn_nm'] == occpn
            temp_df = df1[cond_gender[i] & cond_age[j] & temp_cond]
            temp_list = temp_df['lfst_cd'].value_counts()
            
            if temp_list.empty: #비어있는 시리즈는 출력하지 않기 위해 조건을 걸었습니다.
                continue
            else:
                if i == 0 :
                    print("<여성>")
                else:
                    print("<남성>")

                if j == 0:
                    print("<20대>")
                elif j == 1:
                    print("<30대>")
                elif j == 2:
                    print("<40대>")
                elif j == 3:
                    print("<50대>")
                else:
                    print("<60대>")

                print("<", occpn, ">")

                print(temp_list)

                #자체적인 서버에서 진행해 글자가 깨집니다.
                #temp_list.plot(kind = 'pie', autopct = lambda p : '{:.2f}%'.format(p))
                #plt.legend()
                #plt.show()

                print()

<여성>
<20대>
< 사무직 (일반사무직, 공무원, 직업군인) >
패션의류      11
식품/건강      9
패션잡화       8
뷰티         6
디지털/가전     4
생활/주방      4
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 사무직 (일반사무직, 공무원, 직업군인) >
식품/건강      74
패션의류       62
생활/주방      40
뷰티         31
디지털/가전     26
패션잡화       19
레저/자동차      8
가구/인테리어     7
여행          3
스포츠패션       2
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 사무직 (일반사무직, 공무원, 직업군인) >
식품/건강      26
뷰티         20
패션의류       12
패션잡화        7
생활/주방       6
디지털/가전      5
레저/자동차      2
가구/인테리어     2
Name: lfst_cd, dtype: int64

<여성>
<50대>
< 사무직 (일반사무직, 공무원, 직업군인) >
생활/주방    2
식품/건강    1
패션잡화     1
Name: lfst_cd, dtype: int64

<남성>
<20대>
< 사무직 (일반사무직, 공무원, 직업군인) >
식품/건강     5
생활/주방     2
뷰티        2
레저/자동차    2
패션의류      1
디지털/가전    1
패션잡화      1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 사무직 (일반사무직, 공무원, 직업군인) >
디지털/가전     24
식품/건강      22
뷰티         12
생활/주방      11
패션의류        8
패션잡화        6
레저/자동차      3
여행          2
스포츠패션       1
가구/인테리어     1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 사무직 (일반사무직, 공무원, 직업군인) >
식품/건강      38
디지털/가전     33
생활/주방      24
패션잡화       16
레저/자동차     12
패션의류       12
뷰티          8
가구/인테리어     6
여행          3
스포츠패션       1
Name: lfst_cd, dtype: int64

<남성>
<50대>
< 사무직 (일반사무직, 공무원, 직업군인) >
디지털/가전    1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 주부 (전업주부, 파트타임 근무 주부) >
패션의류      3
디지털/가전    3
식품/건강     3
생활/주방     1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 주부 (전업주부, 파트타임 근무 주부) >
식품/건강      78
생활/주방      52
패션잡화       28
패션의류       25
뷰티         22
디지털/가전     21
가구/인테리어    10
레저/자동차      7
여행          6
스포츠패션       2
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 주부 (전업주부, 파트타임 근무 주부) >
식품/건강      66
뷰티         26
패션의류       22
생활/주방      21
패션잡화       15
디지털/가전     10
가구/인테리어     7
여행          3
스포츠패션       1
레저/자동차      1
Name: lfst_cd, dtype: int64

<여성>
<50대>
< 주부 (전업주부, 파트타임 근무 주부) >
생활/주방      11
식품/건강       6
뷰티          3
스포츠패션       1
가구/인테리어     1
디지털/가전      1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 전문직 (의사, 판검사, 예술가, 종교인) >
식품/건강    3
생활/주방    1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 전문직 (의사, 판검사, 예술가, 종교인) >
패션의류      14
식품/건강     12
뷰티        12
패션잡화       7
생활/주방      5
디지털/가전     2
레저/자동차     2
여행         1
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 전문직 (의사, 판검사, 예술가, 종교인) >
식품/건강     6
생활/주방     3
디지털/가전    2
패션의류      2
패션잡화      2
뷰티        2
레저/자동차    1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 전문직 (의사, 판검사, 예술가, 종교인) >
레저/자동차    2
식품/건강     1
생활/주방     1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 전문직 (의사, 판검사, 예술가, 종교인) >
식품/건강     3
여행        2
패션의류      1
디지털/가전    1
레저/자동차    1
패션잡화      1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 생산/노무직 (생산감독, 경비원, 공장근로자) >
패션잡화     1
식품/건강    1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 생산/노무직 (생산감독, 경비원, 공장근로자) >
패션의류     1
생활/주방    1
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 생산/노무직 (생산감독, 경비원, 공장근로자) >
뷰티    1
Name: lfst_cd, dtype: int64

<남성>
<20대>
< 생산/노무직 (생산감독, 경비원, 공장근로자) >
생활/주방    1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 생산/노무직 (생산감독, 경비원, 공장근로자) >
생활/주방    2
식품/건강    2
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 생산/노무직 (생산감독, 경비원, 공장근로자) >
디지털/가전    5
식품/건강     3
레저/자동차    2
뷰티        2
패션잡화      2
패션의류      1
생활/주방     1
여행        1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 학생 (초중고학생, 대학생, 대학원생) >
식품/건강      12
패션의류        8
뷰티          8
디지털/가전      6
패션잡화        5
생활/주방       4
여행          2
레저/자동차      1
스포츠패션       1
가구/인테리어     1
Name: lfst_cd, dtype: int64

<남성>
<20대>
< 학생 (초중고학생, 대학생, 대학원생) >
생활/주방     4
레저/자동차    3
디지털/가전    3
식품/건강     2
뷰티        2
패션잡화      1
스포츠패션     1
여행        1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 학생 (초중고학생, 대학생, 대학원생) >
식품/건강     1
레저/자동차    1
디지털/가전    1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 교직 (교사, 유치원교사, 학원강사) >
생활/주방     2
식품/건강     1
패션잡화      1
디지털/가전    1
뷰티        1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 교직 (교사, 유치원교사, 학원강사) >
식품/건강      33
생활/주방      23
패션의류       17
뷰티          8
패션잡화        5
디지털/가전      3
레저/자동차      2
여행          1
가구/인테리어     1
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 교직 (교사, 유치원교사, 학원강사) >
식품/건강     5
디지털/가전    4
패션의류      2
생활/주방     2
패션잡화      1
뷰티        1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 교직 (교사, 유치원교사, 학원강사) >
레저/자동차    2
디지털/가전    1
뷰티        1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 교직 (교사, 유치원교사, 학원강사) >
디지털/가전    5
식품/건강     3
생활/주방     2
패션의류      1
패션잡화      1
Name: lfst_cd, dtype: int64

<남성>
<50대>
< 교직 (교사, 유치원교사, 학원강사) >
디지털/가전     2
스포츠패션      1
가구/인테리어    1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 기타  >
디지털/가전    1
뷰티        1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 기타  >
식품/건강     7
디지털/가전    4
생활/주방     3
뷰티        3
패션잡화      2
패션의류      2
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 기타  >
식품/건강     5
패션잡화      1
디지털/가전    1
생활/주방     1
Name: lfst_cd, dtype: int64

<여성>
<50대>
< 기타  >
생활/주방    1
Name: lfst_cd, dtype: int64

<남성>
<20대>
< 기타  >
식품/건강     6
디지털/가전    3
생활/주방     1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 기타  >
식품/건강     5
생활/주방     1
디지털/가전    1
레저/자동차    1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 판매직 (상점점원, 보험설계사, 노점상) >
생활/주방    1
식품/건강    1
뷰티       1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 판매직 (상점점원, 보험설계사, 노점상) >
패션잡화     2
생활/주방    1
식품/건강    1
뷰티       1
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 판매직 (상점점원, 보험설계사, 노점상) >
생활/주방      3
식품/건강      2
패션잡화       1
가구/인테리어    1
Name: lfst_cd, dtype: int64

<여성>
<50대>
< 판매직 (상점점원, 보험설계사, 노점상) >
뷰티       1
패션의류     1
생활/주방    1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 판매직 (상점점원, 보험설계사, 노점상) >
생활/주방    1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 판매직 (상점점원, 보험설계사, 노점상) >
생활/주방    3
식품/건강    2
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 관리직 (사장, 간부, 고위공무원) >
디지털/가전    2
뷰티        2
생활/주방     1
식품/건강     1
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 관리직 (사장, 간부, 고위공무원) >
여행         1
가구/인테리어    1
식품/건강      1
Name: lfst_cd, dtype: int64

<남성>
<20대>
< 관리직 (사장, 간부, 고위공무원) >
가구/인테리어    1
패션잡화       1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 관리직 (사장, 간부, 고위공무원) >
식품/건강    3
패션잡화     1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 관리직 (사장, 간부, 고위공무원) >
디지털/가전    3
패션잡화      1
레저/자동차    1
식품/건강     1
Name: lfst_cd, dtype: int64

<남성>
<50대>
< 관리직 (사장, 간부, 고위공무원) >
생활/주방    1
뷰티       1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 서비스직 (요식업, 숙박업, 미용실종업원) >
패션잡화    1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 서비스직 (요식업, 숙박업, 미용실종업원) >
식품/건강     11
패션의류       8
디지털/가전     6
생활/주방      6
뷰티         3
여행         2
패션잡화       1
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 서비스직 (요식업, 숙박업, 미용실종업원) >
뷰티       3
식품/건강    1
패션잡화     1
Name: lfst_cd, dtype: int64

<여성>
<50대>
< 서비스직 (요식업, 숙박업, 미용실종업원) >
생활/주방    2
패션의류     2
식품/건강    1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 서비스직 (요식업, 숙박업, 미용실종업원) >
뷰티      1
패션의류    1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 서비스직 (요식업, 숙박업, 미용실종업원) >
식품/건강     6
레저/자동차    2
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 무직 >
뷰티        5
패션잡화      2
식품/건강     2
생활/주방     1
여행        1
레저/자동차    1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 무직 >
식품/건강      11
뷰티          9
생활/주방       8
디지털/가전      2
패션의류        2
가구/인테리어     2
패션잡화        2
여행          1
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 무직 >
식품/건강    2
Name: lfst_cd, dtype: int64

<남성>
<20대>
< 무직 >
식품/건강     2
디지털/가전    1
뷰티        1
패션잡화      1
패션의류      1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 무직 >
생활/주방     1
여행        1
패션잡화      1
뷰티        1
식품/건강     1
디지털/가전    1
Name: lfst_cd, dtype: int64

<여성>
<20대>
< 자영업 (도소매업, 숙박업, 미용업) >
뷰티        2
패션잡화      1
디지털/가전    1
패션의류      1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 자영업 (도소매업, 숙박업, 미용업) >
생활/주방      4
디지털/가전     3
식품/건강      3
패션잡화       2
패션의류       2
레저/자동차     1
뷰티         1
가구/인테리어    1
Name: lfst_cd, dtype: int64

<여성>
<40대>
< 자영업 (도소매업, 숙박업, 미용업) >
식품/건강      3
생활/주방      2
디지털/가전     1
가구/인테리어    1
패션의류       1
Name: lfst_cd, dtype: int64

<남성>
<20대>
< 자영업 (도소매업, 숙박업, 미용업) >
스포츠패션    1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 자영업 (도소매업, 숙박업, 미용업) >
패션의류       5
패션잡화       1
생활/주방      1
가구/인테리어    1
레저/자동차     1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 자영업 (도소매업, 숙박업, 미용업) >
패션의류      6
식품/건강     5
디지털/가전    4
패션잡화      1
스포츠패션     1
레저/자동차    1
생활/주방     1
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 퇴직/연금생활자 >
뷰티    2
Name: lfst_cd, dtype: int64

<여성>
<30대>
< 기능직 (자동차정비, 운전기사, 안경사, 택시기사) >
패션의류     3
식품/건강    3
뷰티       1
Name: lfst_cd, dtype: int64

<남성>
<20대>
< 기능직 (자동차정비, 운전기사, 안경사, 택시기사) >
디지털/가전    1
Name: lfst_cd, dtype: int64

<남성>
<30대>
< 기능직 (자동차정비, 운전기사, 안경사, 택시기사) >
디지털/가전    2
식품/건강     1
생활/주방     1
뷰티        1
Name: lfst_cd, dtype: int64

<남성>
<40대>
< 기능직 (자동차정비, 운전기사, 안경사, 택시기사) >
식품/건강     2
패션의류      1
스포츠패션     1
디지털/가전    1
Name: lfst_cd, dtype: int64