In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('../dataset/housing/train.csv', encoding = 'utf-8')
test = pd.read_csv('../dataset/housing/test.csv', encoding = 'utf-8')
submission = pd.read_csv('../dataset/housing/sample_submission.csv', encoding = 'utf-8')

In [10]:
train = train.iloc[:, 1:]
test = test.iloc[:, 1:]

## EDA

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Overall Qual    1350 non-null   int64
 1   Gr Liv Area     1350 non-null   int64
 2   Exter Qual      1350 non-null   object
 3   Garage Cars     1350 non-null   int64
 4   Garage Area     1350 non-null   int64
 5   Kitchen Qual    1350 non-null   object
 6   Total Bsmt SF   1350 non-null   int64
 7   1st Flr SF      1350 non-null   int64
 8   Bsmt Qual       1350 non-null   object
 9   Full Bath       1350 non-null   int64
 10  Year Built      1350 non-null   int64
 11  Year Remod/Add  1350 non-null   int64
 12  Garage Yr Blt   1350 non-null   int64
 13  target          1350 non-null   int64
dtypes: int64(11), object(3)
memory usage: 147.8+ KB

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Overall Qual    1350 non-null   int64
 1   Gr Liv Area     1350 non-null   int64
 2   Exter Qual      1350 non-null   object
 3   Garage Cars     1350 non-null   int64
 4   Garage Area     1350 non-null   int64
 5   Kitchen Qual    1350 non-null   object
 6   Total Bsmt SF   1350 non-null   int64
 7   1st Flr SF      1350 non-null   int64
 8   Bsmt Qual       1350 non-null   object
 9   Full Bath       1350 non-null   int64
 10  Year Built      1350 non-null   int64
 11  Year Remod/Add  1350 non-null   int64
 12  Garage Yr Blt   1350 non-null   int64
dtypes: int64(10), object(3)
memory usage: 137.2+ KB

In [14]:
train.describe()

,Overall Qual,Gr Liv Area,Garage Cars,Garage Area,Total Bsmt SF,1st Flr SF,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target
count,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000
mean,6.208889,1513.542222,1.870370,502.014815,1082.644444,1167.474074,1.560741,1972.987407,1985.099259,1978.471852,186406.312593
std,1.338015,487.523239,0.652483,191.389956,384.067713,375.061407,0.551646,29.307257,20.153244,25.377278,78435.424758
min,2.000000,480.000000,1.000000,100.000000,105.000000,480.000000,0.000000,1880.000000,1950.000000,1900.000000,12789.000000
25%,5.000000,1144.000000,1.000000,368.000000,816.000000,886.250000,1.000000,1955.000000,1968.000000,1961.000000,135000.000000
50%,6.000000,1445.500000,2.000000,484.000000,1009.000000,1092.500000,2.000000,1976.000000,1993.000000,1978.500000,165375.000000
75%,7.000000,1774.500000,2.000000,588.000000,1309.500000,1396.500000,2.000000,2002.000000,2004.000000,2002.000000,217875.000000
max,10.000000,4476.000000,5.000000,1488.000000,2660.000000,2898.000000,4.000000,2010.000000,2010.000000,2207.000000,745000.000000

In [15]:
test.describe()

,Overall Qual,Gr Liv Area,Garage Cars,Garage Area,Total Bsmt SF,1st Flr SF,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
count,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000
mean,6.237037,1524.071111,1.871852,499.867407,1101.222222,1175.714815,1.597778,1973.537778,1985.258519,1978.457037
std,1.370057,514.410852,0.651639,186.267579,431.641042,406.858231,0.549002,29.799448,20.818442,25.771750
min,2.000000,407.000000,1.000000,160.000000,173.000000,407.000000,0.000000,1879.000000,1950.000000,1895.000000
25%,5.000000,1169.750000,1.000000,365.250000,825.250000,887.250000,1.000000,1956.000000,1966.000000,1961.000000
50%,6.000000,1472.500000,2.000000,484.000000,1024.000000,1098.000000,2.000000,1976.000000,1995.000000,1982.000000
75%,7.000000,1742.250000,2.000000,578.750000,1338.750000,1409.500000,2.000000,2002.000000,2004.000000,2002.000000
max,10.000000,5642.000000,4.000000,1418.000000,6110.000000,5095.000000,4.000000,2010.000000,2010.000000,2010.000000

In [18]:
train = train[train['Garage Yr Blt'] < 2050]

## Target Encoding

In [19]:
# 'Exter Qual', 'Bsmt Qual', 'Kitchen Qual' 변수는 Overall Qual로 보면 되기 때문에 삭제
train=train.drop(['Exter Qual', 'Bsmt Qual', 'Kitchen Qual'], axis=1, inplace=False)
test=test.drop(['Exter Qual', 'Bsmt Qual', 'Kitchen Qual'], axis=1, inplace=False)

In [20]:
print(f'로그 변환 전 타겟 왜도 = {train.target.skew()} / 로그 변환 후 타겟 왜도 = {np.log1p(train.target).skew()}')

로그 변환 전 타겟 왜도 = 1.7204669822790544 / 로그 변환 후 타겟 왜도 = 0.08225196452806845

In [21]:
X = train.drop('target', axis = 1)
y = np.log1p(train.target)

target = test[X.columns]

In [22]:
target.fillna(target.mean(), inplace = True)

## Modeling

In [23]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from catboost import CatBoostRegressor, Pool
from ngboost import NGBRegressor
from sklearn.metrics import make_scorer
from sklearn.model_selection import KFold

In [24]:
def NMAE(true, pred) -> float:
    mae = np.mean(np.abs(true - pred))
    score = mae / np.mean(np.abs(true))
    return score

In [25]:
nmae_score = make_scorer(NMAE, greater_is_better=False)

In [26]:
kf = KFold(n_splits = 10, random_state = 42, shuffle = True)

## RandomForest

In [27]:
rf_pred = np.zeros(target.shape[0])
rf_val = []
for n, (tr_idx, val_idx) in enumerate(kf.split(X, y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], np.expm1(y.iloc[val_idx])
    
    rf = RandomForestRegressor(random_state = 42, criterion = 'mae')
    rf.fit(tr_x, tr_y)
    
    val_pred = np.expm1(rf.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    rf_val.append(val_nmae)
    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    fold_pred = rf.predict(target) / 10
    rf_pred += fold_pred
print(f'10FOLD Mean of NMAE = {np.mean(rf_val)} & std = {np.std(rf_val)}')

1 FOLD Training.....
1 FOLD NMAE = 0.0970876871506947

2 FOLD Training.....
2 FOLD NMAE = 0.11994762315789254

3 FOLD Training.....
3 FOLD NMAE = 0.09819188564777052

4 FOLD Training.....
4 FOLD NMAE = 0.11398015633354937

5 FOLD Training.....
5 FOLD NMAE = 0.09158403372584288

6 FOLD Training.....
6 FOLD NMAE = 0.0991257439122332

7 FOLD Training.....
7 FOLD NMAE = 0.09385130062156712

8 FOLD Training.....
8 FOLD NMAE = 0.10907213501133511

9 FOLD Training.....
9 FOLD NMAE = 0.0947197536132856

10 FOLD Training.....
10 FOLD NMAE = 0.10534608319177326

10FOLD Mean of NMAE = 0.10229064023659443 & std = 0.008948729041659692

## GradientBoosting

In [28]:
gbr_pred = np.zeros(target.shape[0])
gbr_val = []
for n, (tr_idx, val_idx) in enumerate(kf.split(X, y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], np.expm1(y.iloc[val_idx])
    
    gbr = GradientBoostingRegressor(random_state = 42, max_depth = 4, learning_rate = 0.05, n_estimators = 1000)
    gbr.fit(tr_x, tr_y)
    
    val_pred = np.expm1(gbr.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    gbr_val.append(val_nmae)
    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    fold_pred = gbr.predict(target) / 10
    gbr_pred += fold_pred
print(f'10FOLD Mean of NMAE = {np.mean(gbr_val)} & std = {np.std(gbr_val)}')

1 FOLD Training.....
1 FOLD NMAE = 0.0957784058275149

2 FOLD Training.....
2 FOLD NMAE = 0.10741272832111659

3 FOLD Training.....
3 FOLD NMAE = 0.09316228815510287

4 FOLD Training.....
4 FOLD NMAE = 0.12171167035099882

5 FOLD Training.....
5 FOLD NMAE = 0.10067991453650933

6 FOLD Training.....
6 FOLD NMAE = 0.10367268934086965

7 FOLD Training.....
7 FOLD NMAE = 0.09687564144132171

8 FOLD Training.....
8 FOLD NMAE = 0.1057068508080183

9 FOLD Training.....
9 FOLD NMAE = 0.10044795587636327

10 FOLD Training.....
10 FOLD NMAE = 0.09795763282031782

10FOLD Mean of NMAE = 0.10234057774781333 & std = 0.007725224338308978

## CatBoost

In [29]:
cb_pred = np.zeros(target.shape[0])
cb_val = []
for n, (tr_idx, val_idx) in enumerate(kf.split(X, y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], np.expm1(y.iloc[val_idx])
    
    tr_data = Pool(data = tr_x, label = tr_y)
    val_data = Pool(data = val_x, label = val_y)
    
    cb = CatBoostRegressor(depth = 4, random_state = 42, loss_function = 'MAE', n_estimators = 3000, learning_rate = 0.03, verbose = 0)
    cb.fit(tr_data, eval_set = val_data, early_stopping_rounds = 750, verbose = 1000)
    
    val_pred = np.expm1(cb.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    cb_val.append(val_nmae)
    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    target_data = Pool(data = target, label = None)
    fold_pred = cb.predict(target) / 10
    cb_pred += fold_pred
print(f'10FOLD Mean of NMAE = {np.mean(cb_val)} & std = {np.std(cb_val)}')

1 FOLD Training.....
0:	learn: 0.2921111	test: 189506.6728207	best: 189506.6728207 (0)	total: 158ms	remaining: 7m 52s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 189506.5977
bestIteration = 171

Shrink model to first 172 iterations.
1 FOLD NMAE = 0.10265304305752027

2 FOLD Training.....
0:	learn: 0.2932016	test: 186991.7523711	best: 186991.7523711 (0)	total: 903us	remaining: 2.71s
1000:	learn: 0.0700866	test: 186991.7220042	best: 186991.7216819 (487)	total: 651ms	remaining: 1.3s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 186991.7217
bestIteration = 487

Shrink model to first 488 iterations.
2 FOLD NMAE = 0.10614182603220053

3 FOLD Training.....
0:	learn: 0.2922612	test: 176765.4792435	best: 176765.4792435 (0)	total: 962us	remaining: 2.89s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 176765.4654
bestIteration = 71

Shrink model to first 72 iterations.
3 FOLD NMAE = 0.1206103265080485

4 FOLD Training.....
0:	learn: 0.2925931	test: 187437.9593377	best: 187437.9593377 (0)	total: 897us	remaining: 2.69s
1000:	learn: 0.0702830	test: 187437.9154503	best: 187437.9153549 (989)	total: 642ms	remaining: 1.28s
2000:	learn: 0.0619869	test: 187437.9147509	best: 187437.9144551 (1547)	total: 1.3s	remaining: 649ms
Stopped by overfitting detector  (750 iterations wait)

bestTest = 187437.9145
bestIteration = 1547

Shrink model to first 1548 iterations.
4 FOLD NMAE = 0.10956548936614023

5 FOLD Training.....
0:	learn: 0.2884709	test: 192915.6550381	best: 192915.6550381 (0)	total: 993us	remaining: 2.98s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 192915.6057
bestIteration = 181

Shrink model to first 182 iterations.
5 FOLD NMAE = 0.10884303273018263

6 FOLD Training.....
0:	learn: 0.2897372	test: 188506.9522564	best: 188506.9522564 (0)	total: 1.38ms	remaining: 4.15s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 188506.8922
bestIteration = 154

Shrink model to first 155 iterations.
6 FOLD NMAE = 0.08838089143073885

7 FOLD Training.....
0:	learn: 0.2931455	test: 194497.7718707	best: 194497.7718707 (0)	total: 1.19ms	remaining: 3.56s
1000:	learn: 0.0713788	test: 194497.6773964	best: 194497.6755989 (543)	total: 692ms	remaining: 1.38s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 194497.6756
bestIteration = 543

Shrink model to first 544 iterations.
7 FOLD NMAE = 0.0927509286264551

8 FOLD Training.....
0:	learn: 0.2937167	test: 174503.5927716	best: 174503.5927716 (0)	total: 872us	remaining: 2.62s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 174503.5718
bestIteration = 57

Shrink model to first 58 iterations.
8 FOLD NMAE = 0.13358950551117155

9 FOLD Training.....
0:	learn: 0.2909223	test: 181768.1417591	best: 181768.1417591 (0)	total: 957us	remaining: 2.87s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 181768.0987
bestIteration = 80

Shrink model to first 81 iterations.
9 FOLD NMAE = 0.12216012292317334

10 FOLD Training.....
0:	learn: 0.2894594	test: 190480.0216653	best: 190480.0216653 (0)	total: 1.23ms	remaining: 3.68s
1000:	learn: 0.0711304	test: 190479.9421644	best: 190479.9408180 (723)	total: 698ms	remaining: 1.39s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 190479.9408
bestIteration = 723

Shrink model to first 724 iterations.
10 FOLD NMAE = 0.10004784365166608

10FOLD Mean of NMAE = 0.10847430098372972 & std = 0.013145292706854595

## NGBoost

In [30]:
ngb_pred = np.zeros(target.shape[0])
ngb_val = []
for n, (tr_idx, val_idx) in enumerate(kf.split(X, y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], np.expm1(y.iloc[val_idx])
    
    ngb = NGBRegressor(random_state = 42, n_estimators = 1000, verbose = 0, learning_rate = 0.03)
    ngb.fit(tr_x, tr_y, val_x, val_y, early_stopping_rounds = 300)
    
    val_pred = np.expm1(ngb.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    ngb_val.append(val_nmae)
    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    target_data = Pool(data = target, label = None)
    fold_pred = ngb.predict(target) / 10
    ngb_pred += fold_pred
print(f'10FOLD Mean of NMAE = {np.mean(ngb_val)} & std = {np.std(ngb_val)}')

1 FOLD Training.....
1 FOLD NMAE = 0.09269865993769837

2 FOLD Training.....
2 FOLD NMAE = 0.1073605565122689

3 FOLD Training.....
3 FOLD NMAE = 0.09200312577039697

4 FOLD Training.....
4 FOLD NMAE = 0.10993984100256354

5 FOLD Training.....
5 FOLD NMAE = 0.09467569060542153

6 FOLD Training.....
6 FOLD NMAE = 0.1017733390164387

7 FOLD Training.....
7 FOLD NMAE = 0.09501948478230365

8 FOLD Training.....
8 FOLD NMAE = 0.09877555875783997

9 FOLD Training.....
9 FOLD NMAE = 0.09918207579249964

10 FOLD Training.....
10 FOLD NMAE = 0.09773003287244342

10FOLD Mean of NMAE = 0.09891583650498746 & std = 0.0056754139178729485

## Ensemble

In [31]:
(ngb_pred + cb_pred + rf_pred + gbr_pred) / 4

array([12.70934583, 11.77108284, 12.07566406, ..., 11.34674581,
       12.17437263, 11.88440236])

In [32]:
submission['target'] = np.expm1((ngb_pred + cb_pred + rf_pred + gbr_pred) / 4)

In [33]:
submission.to_csv('3rd.csv', index = False)