In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 라이브러리 불러오기

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import pickle

## Inference용 데이터 불러오기

In [4]:
test = pd.read_csv("/data/공모전데이터셋/round1_test.csv")

In [7]:
test

,Bid Index,시각,ADID,ADID 타입,DSP ID,매체 ID,애드유닛 ID,플랫폼,OS 종류,사이즈 ID,...,WUID (웹 유저 ID),환율,광고 응답 소재 카테고리,광고 응답 광고주 도메인,국가코드 ID,OS 버전 ID,P1,P2,P3,P4
0,bid0000000,20220410000000,2c96ed2acabe7e4e0dfabff06a38fcec2cf86b58a89565...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,NaN,b35513b488.com,1012.0,NaN,113.467200,49.73400,36.84,68.080320
1,bid0000001,20220410000000,e80b2e6116d9415c80f15f68a7036d81f0c31731b8afcc...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,7dd6711f68ace91519950d4346692d7846167f13f63161...,e3655a2d520f664c982446549ddc84e1623e24f0c39a67...,1,1,3,...,NaN,1228.0,IAB8,b6dc7509bf.co.kr,1012.0,NaN,202.620000,49.73400,36.84,121.572000
2,bid0000002,20220410000000,55e2e9843e93dd5c860dce4b4167d6f49892fcb7eea643...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,NaN,48b1220d1d.com,1012.0,NaN,97.257600,49.73400,36.84,58.354560
3,bid0000003,20220410000000,07fd4e28c392a8027eafadb8540c15b9b75a60723609c9...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,...,NaN,1228.0,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1001.0,65.766110,49.73400,36.84,46.036277
4,bid0000004,20220410000000,295bb005fd6045ea85e262d2fbb72ece76ab60be0db120...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,...,NaN,1228.0,IAB22,8cf75239cd.b34eb325ae.co.kr,1012.0,1001.0,65.766110,49.73400,36.84,46.036277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624137,bid0624137,20220410132810,549c51cc2f21b3447000e41eb3a9e32a4f0891174bd409...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,7dd6711f68ace91519950d4346692d7846167f13f63161...,e3655a2d520f664c982446549ddc84e1623e24f0c39a67...,1,1,3,...,NaN,1228.0,IAB2,b0aca0f98a.com,1012.0,NaN,235.907572,49.73400,36.84,141.544543
624138,bid0624138,20220410132810,51f1181ef79addff95fdc875e228424a371323b27f302c...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,IAB9-25,8f890920d3.com,1012.0,NaN,125.256000,49.73400,36.84,75.153600
624139,bid0624139,20220410132810,3f1f9b5abb68bea2d275e9ed3867e48a322e55915da6d8...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,NaN,d913cb516e.kr,1012.0,NaN,129.676800,49.73400,36.84,77.806080
624140,bid0624140,20220410132810,bd520bad60995fd2c5f82d385d0168a2b2ad4268c82a95...,1,95369047233b18ea02be6d42399d7f6a2262834ae5d066...,f50daedc59d7a0d361e9bbc543ed3f0b9276578b2aa43e...,de36c9fee3be8d1c87d6d4223689334ada3bb37ddef18e...,3,1,1,...,71d53727bca0b54def45997e792523a25a35f5c0479f9d...,1228.0,IAB13,56847be69a.co.kr,1012.0,NaN,309.801587,120.00016,122.80,185.880952
624141,bid0624141,20220410132810,fb61d80dda64b766c4b5161e5f97307894d871a8c4b264...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,NaN,1228.0,IAB9-30,6d18957d09.com,1012.0,NaN,100.204800,49.73400,36.84,60.122880

## 학습한 모델 가져오기 (feature 생성 모델)

In [10]:
# pickle을 사용해 모델 불러오기

from joblib import dump, load
load_model_lr = load('/result/model_lr.joblib') 

new_feat = load_model_lr.predict(test[['P1','P2','P3','P4']])
new_feat

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator LinearRegression from version 0.23.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([ 62.46636529, 106.65208203,  54.43259861, ...,  70.50013197,
       168.59528836,  55.89328346])

In [11]:
# 새로운 feature 1 행 추가
test['new_feature'] = new_feat

In [12]:
# 새로운 feature 2 행 추가
test['new_feature2'] = 0
test.loc[(test['P2'] > test['P4']) | (test['P3'] > test['P4']), 'new_feature2'] = 0
test.loc[(test['P2'] < test['P4']) & (test['P3'] < test['P4']), 'new_feature2'] = 1

In [13]:
# 새로운 feature 3, 4 행 추가
test['P4_P3'] = test['P4'] - test['P3']
test['P4_P2'] = test['P4'] - test['P2']

In [14]:
test

,Bid Index,시각,ADID,ADID 타입,DSP ID,매체 ID,애드유닛 ID,플랫폼,OS 종류,사이즈 ID,...,국가코드 ID,OS 버전 ID,P1,P2,P3,P4,new_feature,new_feature2,P4_P3,P4_P2
0,bid0000000,20220410000000,2c96ed2acabe7e4e0dfabff06a38fcec2cf86b58a89565...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,1012.0,NaN,113.467200,49.73400,36.84,68.080320,62.466365,1,31.240320,18.346320
1,bid0000001,20220410000000,e80b2e6116d9415c80f15f68a7036d81f0c31731b8afcc...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,7dd6711f68ace91519950d4346692d7846167f13f63161...,e3655a2d520f664c982446549ddc84e1623e24f0c39a67...,1,1,3,...,1012.0,NaN,202.620000,49.73400,36.84,121.572000,106.652082,1,84.732000,71.838000
2,bid0000002,20220410000000,55e2e9843e93dd5c860dce4b4167d6f49892fcb7eea643...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,1012.0,NaN,97.257600,49.73400,36.84,58.354560,54.432599,1,21.514560,8.620560
3,bid0000003,20220410000000,07fd4e28c392a8027eafadb8540c15b9b75a60723609c9...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,...,1012.0,1001.0,65.766110,49.73400,36.84,46.036277,40.551985,0,9.196277,-3.697723
4,bid0000004,20220410000000,295bb005fd6045ea85e262d2fbb72ece76ab60be0db120...,1,d22127d7ef82d6f222558447b65f1fb63c36a55d71d0c3...,03eef1b13012d013345f17def773eceda258d8d9829484...,4a3406328504b21257aa66fc138ba78668bef318b361f9...,1,1,3,...,1012.0,1001.0,65.766110,49.73400,36.84,46.036277,40.551985,0,9.196277,-3.697723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624137,bid0624137,20220410132810,549c51cc2f21b3447000e41eb3a9e32a4f0891174bd409...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,7dd6711f68ace91519950d4346692d7846167f13f63161...,e3655a2d520f664c982446549ddc84e1623e24f0c39a67...,1,1,3,...,1012.0,NaN,235.907572,49.73400,36.84,141.544543,123.149996,1,104.704543,91.810543
624138,bid0624138,20220410132810,51f1181ef79addff95fdc875e228424a371323b27f302c...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,1012.0,NaN,125.256000,49.73400,36.84,75.153600,68.309105,1,38.313600,25.419600
624139,bid0624139,20220410132810,3f1f9b5abb68bea2d275e9ed3867e48a322e55915da6d8...,1,becd0e5686fae9c4a1885a950817a70f9ae3c437d32a60...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,1012.0,NaN,129.676800,49.73400,36.84,77.806080,70.500132,1,40.966080,28.072080
624140,bid0624140,20220410132810,bd520bad60995fd2c5f82d385d0168a2b2ad4268c82a95...,1,95369047233b18ea02be6d42399d7f6a2262834ae5d066...,f50daedc59d7a0d361e9bbc543ed3f0b9276578b2aa43e...,de36c9fee3be8d1c87d6d4223689334ada3bb37ddef18e...,3,1,1,...,1012.0,NaN,309.801587,120.00016,122.80,185.880952,168.595288,1,63.080952,65.880792
624141,bid0624141,20220410132810,fb61d80dda64b766c4b5161e5f97307894d871a8c4b264...,1,6d11d21f6d5f63bb625438586029f79511d0eac263ad81...,554b9474090ae6e25f9c6b93294eb85a2ef720ee49476d...,dc83186485f48c299c25f841bc8b866f4b80d901d825fe...,1,1,1,...,1012.0,NaN,100.204800,49.73400,36.84,60.122880,55.893283,1,23.282880,10.388880

## 데이터 전처리

In [15]:
# ID관련 column, 시각, P5, 광고 응답 소재 카테고리 행 삭제
test.drop(columns=['시각', 'ADID', 'DSP ID', '매체 ID', '애드유닛 ID', '노출 ID', 'SSP 입찰ID', 'DSP 입찰ID', 'AX 낙찰ID', 'WUID (웹 유저 ID)', 'OS 버전 ID', '국가코드 ID', '광고 응답 소재 카테고리'], inplace=True)

In [16]:
# 결측치 확인
test.isna().sum()

Bid Index          0
ADID 타입            0
플랫폼                0
OS 종류              0
사이즈 ID             0
환율                 0
광고 응답 광고주 도메인    167
P1                 0
P2                 0
P3                 0
P4                 0
new_feature        0
new_feature2       0
P4_P3              0
P4_P2              0
dtype: int64

In [17]:
# 광고 응답 광고주 도메인이 너무 많은 범주를 가지므로 제거
test.drop(columns=['광고 응답 광고주 도메인'], inplace=True)

test

,Bid Index,ADID 타입,플랫폼,OS 종류,사이즈 ID,환율,P1,P2,P3,P4,new_feature,new_feature2,P4_P3,P4_P2
0,bid0000000,1,1,1,1,1228.0,113.467200,49.73400,36.84,68.080320,62.466365,1,31.240320,18.346320
1,bid0000001,1,1,1,3,1228.0,202.620000,49.73400,36.84,121.572000,106.652082,1,84.732000,71.838000
2,bid0000002,1,1,1,1,1228.0,97.257600,49.73400,36.84,58.354560,54.432599,1,21.514560,8.620560
3,bid0000003,1,1,1,3,1228.0,65.766110,49.73400,36.84,46.036277,40.551985,0,9.196277,-3.697723
4,bid0000004,1,1,1,3,1228.0,65.766110,49.73400,36.84,46.036277,40.551985,0,9.196277,-3.697723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624137,bid0624137,1,1,1,3,1228.0,235.907572,49.73400,36.84,141.544543,123.149996,1,104.704543,91.810543
624138,bid0624138,1,1,1,1,1228.0,125.256000,49.73400,36.84,75.153600,68.309105,1,38.313600,25.419600
624139,bid0624139,1,1,1,1,1228.0,129.676800,49.73400,36.84,77.806080,70.500132,1,40.966080,28.072080
624140,bid0624140,1,3,1,1,1228.0,309.801587,120.00016,122.80,185.880952,168.595288,1,63.080952,65.880792
624141,bid0624141,1,1,1,1,1228.0,100.204800,49.73400,36.84,60.122880,55.893283,1,23.282880,10.388880

In [18]:
# 결측치 확인
test.isna().sum()

Bid Index       0
ADID 타입         0
플랫폼             0
OS 종류           0
사이즈 ID          0
환율              0
P1              0
P2              0
P3              0
P4              0
new_feature     0
new_feature2    0
P4_P3           0
P4_P2           0
dtype: int64

In [19]:
# 가변수화
test_d = pd.get_dummies(test, columns=['ADID 타입', '플랫폼', 'OS 종류', '사이즈 ID'], drop_first=True)

In [20]:
# 행 이름 확인
list(test_d)

['Bid Index',
 '환율',
 'P1',
 'P2',
 'P3',
 'P4',
 'new_feature',
 'new_feature2',
 'P4_P3',
 'P4_P2',
 'ADID 타입_2',
 'ADID 타입_5',
 'ADID 타입_7',
 '플랫폼_2',
 '플랫폼_3',
 'OS 종류_2',
 '사이즈 ID_2',
 '사이즈 ID_3']

In [21]:
test_d.shape

(624142, 18)

In [22]:
# model에 넣을 변수만 추출
test_x = test_d.drop(columns='Bid Index')

## 학습한 모델 불러오기 & 예측값 추출

In [23]:
from joblib import dump, load
load_model_rf = load('/result/model_rf.joblib') 
pred_rf = load_model_rf.predict(test_x)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.23.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.23.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [24]:
test_d['pred'] = pred_rf
test_d

,Bid Index,환율,P1,P2,P3,P4,new_feature,new_feature2,P4_P3,P4_P2,ADID 타입_2,ADID 타입_5,ADID 타입_7,플랫폼_2,플랫폼_3,OS 종류_2,사이즈 ID_2,사이즈 ID_3,pred
0,bid0000000,1228.0,113.467200,49.73400,36.84,68.080320,62.466365,1,31.240320,18.346320,0,0,0,0,0,0,0,0,0
1,bid0000001,1228.0,202.620000,49.73400,36.84,121.572000,106.652082,1,84.732000,71.838000,0,0,0,0,0,0,0,1,1
2,bid0000002,1228.0,97.257600,49.73400,36.84,58.354560,54.432599,1,21.514560,8.620560,0,0,0,0,0,0,0,0,0
3,bid0000003,1228.0,65.766110,49.73400,36.84,46.036277,40.551985,0,9.196277,-3.697723,0,0,0,0,0,0,0,1,0
4,bid0000004,1228.0,65.766110,49.73400,36.84,46.036277,40.551985,0,9.196277,-3.697723,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624137,bid0624137,1228.0,235.907572,49.73400,36.84,141.544543,123.149996,1,104.704543,91.810543,0,0,0,0,0,0,0,1,0
624138,bid0624138,1228.0,125.256000,49.73400,36.84,75.153600,68.309105,1,38.313600,25.419600,0,0,0,0,0,0,0,0,0
624139,bid0624139,1228.0,129.676800,49.73400,36.84,77.806080,70.500132,1,40.966080,28.072080,0,0,0,0,0,0,0,0,1
624140,bid0624140,1228.0,309.801587,120.00016,122.80,185.880952,168.595288,1,63.080952,65.880792,0,0,0,0,1,0,0,0,0
624141,bid0624141,1228.0,100.204800,49.73400,36.84,60.122880,55.893283,1,23.282880,10.388880,0,0,0,0,0,0,0,0,0

In [25]:
# 예측값과 Bid index만 추출
result = test_d[['Bid Index', 'pred']]
result

         Bid Index  pred
0       bid0000000     0
1       bid0000001     1
2       bid0000002     0
3       bid0000003     0
4       bid0000004     0
...            ...   ...
624137  bid0624137     0
624138  bid0624138     0
624139  bid0624139     1
624140  bid0624140     0
624141  bid0624141     0

[624142 rows x 2 columns]

In [28]:
result.to_csv("과제2_예선_예측결과_JS.csv", index=False)