In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 등산로_엑셀

In [67]:
df = pd.read_csv("./data/등산로_엑셀.csv", encoding="cp949")
df = df.set_index('산코드')
df = df[['산명', '등산로길이(km)', '등산로난이도명', '등산로상행시간', '등산로하행시간']]

In [68]:
df_re = df.groupby(['산명'], as_index=False).mean()
df_re = df_re.set_index('산명')

In [69]:
df_re['등산로난이도명'] = df_re['등산로난이도명'].round(0).astype(str)
df_re.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2200 entries, 116고지 to 흰대미
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   등산로길이(km)  2200 non-null   float64
 1   등산로난이도명    2200 non-null   object
 2   등산로상행시간    2200 non-null   float64
 3   등산로하행시간    2200 non-null   float64
dtypes: float64(3), object(1)
memory usage: 85.9+ KB

In [93]:
df_re.tail(325)

         등산로길이(km) 등산로난이도명     등산로상행시간    등산로하행시간
산명
지력산       2.166667     1.0   38.333333  27.000000
지리산_천왕봉   3.111386     1.0   61.019802  42.737624
지미봉       0.500000     2.0   11.000000   7.000000
지봉산       3.400000     1.0   64.000000  45.000000
지산동산      0.394595     1.0    6.972973   4.837838
...            ...     ...         ...        ...
희리산       1.550000     1.0   30.000000  21.000000
희망봉       0.475000     1.0    7.750000   5.500000
희아산       3.833333     1.0   99.666667  70.000000
희양산       5.600000     1.0  140.000000  98.000000
흰대미       2.142857     1.0   39.857143  28.142857

[325 rows x 4 columns]

In [95]:
df_fn = df_re.loc[['가야산', '계룡산', '덕유산_향적봉', '무등산', '북한산', '설악산_대청봉', '소백산_비로봉', '속리산', '오대산', '오대산_노인봉', '월악산_영봉', '주왕산', '지리산_천왕봉'], :]

df_fn = df_fn.rename(index = {'덕유산_향적봉' : '덕유산', '설악산_대청봉' : '설악산', '소백산_비로봉' : '소백산', '오대산_노인봉' : '오대산', '월악산_영봉' : '월악산', '지리산_천왕봉' : '지리산'})
df_fn

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['속리산'], dtype='object', name='산명'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

# 국립공원 등산로별 평균 칼로리 소모량

In [26]:
df2 = pd.read_csv("./data/국립공원/국립공원 등산로별 평균 칼로리 소모량.csv", encoding="cp949")

In [27]:
df2 = df2[['trk_idno', 'ntnl_park_nm', 'trk_lngth', 'trk_rqrmn_tm', 'sxdst_cd', 'aggrp_sctin_val', 'ntnl_park_sctin_nm', 'trk_avrg_kcal_cnsmp_qntt']] # column 추출
df2 = df2.rename(columns = {'trk_idno':'고유번호'}) # column 이름 변경
df2 = df2.rename(columns = {'ntnl_park_nm':'산명'})
df2 = df2.rename(columns = {'trk_lngth':'트랙길이'})
df2 = df2.rename(columns = {'trk_rqrmn_tm':'트랙소요시간'})
df2 = df2.rename(columns = {'sxdst_cd':'성별'})
df2 = df2.rename(columns = {'aggrp_sctin_val':'나이대'})
df2 = df2.rename(columns = {'ntnl_park_sctin_nm':'국립공원구분명'})
df2 = df2.rename(columns = {'trk_avrg_kcal_cnsmp_qntt':'평균칼로리소모량'})
df2 = df2.set_index('고유번호') # index '고유번호'로 변경

In [28]:
df2 = df2.groupby(['산명'], as_index=False).mean()
df2 = df2.set_index('산명')

In [29]:
df2 = df2.drop('경주',axis=0)
df2 = df2.drop('내장산',axis=0)
df2

             트랙길이        트랙소요시간      평균칼로리소모량
산명
가야산  17809.175865  74988.902134  10592.652108
계룡산   6075.079729  23618.737065   3336.293348
덕유산  11542.340689  44522.345648   6289.059084
무등산   9465.792568  37815.450530   5341.670422
북한산   5825.151683  22892.234676   3233.671728
설악산  11851.755138  49417.536093   6980.547836

# 데이터프레임 병합

In [56]:
df3 = pd.concat([df_fn, df2], axis = 1)
df3 = df3.rename(columns = {'등산로길이(km)':'길이'})
df3 = df3.rename(columns = {'등산로난이도명':'난이도'})
df3 = df3.rename(columns = {'등산로하행시간':'하행시간'})
df3 = df3.rename(columns = {'등산로상행시간':'상행시간'})

df3

,길이,난이도,상행시간,하행시간,트랙길이,트랙소요시간,평균칼로리소모량
산명,,,,,,,
가야산,0.422951,1.0,7.655738,5.295082,17809.175865,74988.902134,10592.652108
계룡산,1.293333,1.0,35.333333,24.533333,6075.079729,23618.737065,3336.293348
덕유산,1.760000,1.0,39.600000,28.000000,11542.340689,44522.345648,6289.059084
무등산,0.347273,1.0,6.036364,4.309091,9465.792568,37815.450530,5341.670422
북한산,0.086730,1.0,1.620853,0.966825,5825.151683,22892.234676,3233.671728
설악산,2.301754,1.0,49.175439,34.473684,11851.755138,49417.536093,6980.547836

In [96]:
df3.to_csv('sample.csv',mode="w",encoding='euc-kr')